html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
}


body{
  background-color: #fff;
}

.wrapper{
  color: #000;
  width: 978px;
  margin: 56px auto 56px auto;
}
.blocks{
  width: 978px;
  float: left;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 36px;
}
.block {
  background: #EFF5F5;
  max-width: 290px;
  max-height: 430px;
  display: block;
  margin-right: 36px;
  margin-bottom: 30px;
}
.block:nth-child(3){
  margin-right: 36px;
}
.chair{
  position: relative;
}
.about{
  width: 256px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 15px;
}
.title {
  color: #6E6659;
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.about h2{
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #264E58;
  padding-top: 10px;
  padding-bottom: 10px;
}
.articl{
  color: #A5A5A5;
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.articl span{
  color: #264E58;
}
.price{
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A5A5A5;
  width: 205px;
  height: 45px;
  margin-top: 10px;
}
.price span{
  color: #6E6659;
  font-weight: 700;
  font-size: 24px;
}

.image_link{
  max-height: 290px;
  display: block;
  position: relative;
}
.hit{
  color:#fff;
  width: 81px;
  height: 14px;
  background: #A32018;
  position: absolute;
  font-family: 'Parangon';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  text-transform: uppercase;
  margin-left: 15px;
  margin-top: 15px;
  display: block;
  
}
.hit p{
  padding-top: 3px;
  text-align:  center;
  margin-left: auto;
  margin-right: auto;
}
.hit p img{
  margin-bottom: -1px;
}

.nalichie{
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  color: #4F493F;
  position: absolute;
  height: 14px;
  width: 60px;
  background: #FFFFFF;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
.nalichie p{
  margin-top: 3px;
  text-align: center;
  display: block;
}
.sale {
  background: #E0CD1C;
  max-width: 54px;
}
.new{
  background: #087A28;
  max-width: 67px;
}